body {
  background-color: #f6eee5;
}

h1,
h2,
h3,
h4,
p,
a,
label {
  color: #30485f;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
  background: #cdded6;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  background: #cdded6;
  padding: 2px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  margin: 7px;
}

#userpic {
  width: 35%;
  margin: 0 0 0.2rem 0;
  padding-top: 5%;
  padding-left: 43%;
}

button {
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  color: #30485f;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.signIn {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.signInContent {
  width: 60%;
  max-width: 800px;
}
form {
  width: 80%;
  max-width: 800px;
}

.outer {
  display: flex;
  justify-content: center;
}

.UserProfile {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control input {
  padding: 5px;
  width: calc(100% - 10px);
}

.options {
  flex-wrap: wrap;
  display: flex;
}

.logoName {
  float: left;
  display: flex;
}

.logo {
  padding-top: 20px;
  padding-right: 10px;
}

nav {
  display: flex;
}

@media only screen and (min-width: 399px) {
  .links {
    flex-wrap: wrap;
    -ms-flex-align: centers;
    padding-top: 35px;
    padding-right: 35px;
  }
}
@media only screen and (max-width: 400px) {
  header {
    display: flex;
  }
  .signIn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .signInContent {
    width: 90%;
    max-width: 800px;
  }
  .logo {
    padding-top: 5px;
    padding-right: 5px;
  }
  nav {
    font-size: x-small;
  }
  .links {
    flex-direction: column;
    padding-top: 5px;
    padding-right: 5px;
    justify-content: center;
  }
  h1 {
    display: none;
  }
  #userpic {
    width: 20%;
    margin: 7px;
    border-radius: 4px;
    padding-left: 40%;
  }
}
