body {
  background-color: #f6eee5;
}

h1,
h2,
h3,
h4 {
  color: #30485f;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.header {
  background: #cdded6;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  top: 0;
  left: 0;
  right: 0;
}

#user-info {
  float: right;
}

#userpic {
  width: 4rem;
  margin: 0 0 0.2rem 0;
  border-radius: 4px;
}

button {
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  color: #30485f;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

form {
  width: 80%;
  max-width: 800px;
}

.outer {
  display: flex;
  justify-content: center;
}

.UserProfile {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control input {
  padding: 5px;
  width: calc(100% - 10px);
}

.options {
  flex-wrap: wrap;
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.plantcards {
  display: flex;
  align-items: flex-end;
  align-content: space-evenly;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.plantcard {
  flex-wrap: wrap;
  margin: 0.4rem;
}

footer {
  background: #cdded6;
  padding: 2px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  margin: 7px;
}
