body {
  background-color: #f6eee5;
}

h1 {
  color: #30485f;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* padding: 1rem; */
}

.header {
  background: #cdded6;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  top: 0;
  left: 0;
  right: 0;
}

/* h1 {
  float: left;
  padding: 1rem;
  text-align: left;
} */

#userpic {
  width: 75px;
  margin: 0 0 0.2rem 0;
}

#user-info {
  float: right;
}

form {
  width: 80%;
  max-width: 800px;
}

.outer {
  display: flex;
  justify-content: center;
}

.UserProfile {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control input {
  padding: 5px;
  width: calc(100% - 10px);
}

button {
  border-radius: 4px;
  padding: 15px 32px;
  display: inline-block;
  font-size: 1rem;
  width: 100%;
}

footer {
  background: #cdded6;
  padding: 2px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  margin: 7px;
}
